In [72]:
import pandas as pd

In [73]:
ppp_data = pd.read_csv("foia_150k_plus.csv")

In [87]:
ppp_data.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
0,c $1-2 million,THE STEWART/PERRY COMPANY INC,4855 OVERTON RD,BIRMINGHAM,AL,35210.0,111110.0,Corporation,Unanswered,Male Owned,Unanswered,NaN,62.0,4/6/20,ServisFirst Bank,AL - 06
1,"d $350,000-1 million","R M. GREENE, INC",2400 SPORTSMAN DR,PHENIX CITY,AL,36867.0,111110.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,46.0,4/13/20,Synovus Bank,AL - 03
2,"e $150,000-350,000",LDS INC,414-C MARTIN LUTHER KING JR PKWY S,PHENIX CITY,AL,36869.0,111110.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,56.0,4/28/20,Synovus Bank,AL - 03
3,"e $150,000-350,000","MAGNOLIA GREENE, INC",2401 SPORTSMAN DR,PHENIX CITY,AL,36867.0,111110.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,NaN,4/13/20,Synovus Bank,AL - 03
4,"e $150,000-350,000","PEARSON MANAGEMENT GROUP, INC.",7145 HALCYON SUMMIT DR,MONTGOMERY,AL,36117.0,111110.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,8.0,4/15/20,ServisFirst Bank,AL - 02

In [31]:
ppp_data.columns

Index(['LoanRange', 'BusinessName', 'Address', 'City', 'State', 'Zip',
       'NAICSCode', 'BusinessType', 'RaceEthnicity', 'Gender', 'Veteran',
       'NonProfit', 'JobsRetained', 'DateApproved', 'Lender', 'CD'],
      dtype='object')

In [74]:
ppp_data.shape

(661218, 16)

In [75]:
#Pull restaurant-specific NAICS Codes out of the main 150k+ document

dfbar = ppp_data.loc[ppp_data['NAICSCode'] ==722410]
dffsr = ppp_data.loc[ppp_data['NAICSCode'] ==722511]
dfls = ppp_data.loc[ppp_data['NAICSCode'] ==722513]
dfcaf = ppp_data.loc[ppp_data['NAICSCode'] ==722514]
dfsnack = ppp_data.loc[ppp_data['NAICSCode'] ==722515]
dfmobile = ppp_data.loc[ppp_data['NAICSCode'] ==722330]
#dfall = ppp_data[ppp_data['NAICSCode'].contains(72)

In [76]:
dflist =[dfbar,dffsr,dfls,dfcaf,dfsnack,dfmobile]

In [77]:
dfall = pd.concat(dflist)

In [78]:
dfall.shape
#HERE

(46747, 16)

In [60]:
dfall.to_csv (r'\Downloads\over150k_US.csv', index = False, header=True)

In [80]:
ppp_sub150 = pd.read_csv("sub_150k_US.csv")
ppp_over150 = pd.read_csv("over150k_US.csv")

In [81]:
ppp_sub150.shape #shoud be more than 230554, 16 (with sub 150 bars included)

(230554, 16)

In [82]:
ppp_over150.shape #shoud be 46747, 16

(46747, 16)

In [53]:
#Combine both CSVs into a single list, then concat to a single data frame
df_all_US =[ppp_sub150,ppp_over150]
ppp_allUS_rests = pd.concat(df_all_US)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [86]:
ppp_allUS_rests.columns

Index(['Address', 'BusinessName', 'BusinessType', 'CD', 'City', 'DateApproved',
       'Gender', 'JobsRetained', 'Lender', 'LoanAmount', 'LoanRange',
       'NAICSCode', 'NonProfit', 'RaceEthnicity', 'State', 'Veteran', 'Zip'],
      dtype='object')

In [88]:
ppp_allUS_rests.shape  #shoud be more than 277301, 16 (with sub 150 bars included)

(277301, 17)

In [56]:
#All Restaurants pull NAICS Codes via ppp_allUS_rests

dfbars = ppp_allUS_rests.loc[ppp_allUS_rests['NAICSCode'] ==722410]
dffsr = ppp_allUS_rests.loc[ppp_allUS_rests['NAICSCode'] ==722511]
dfqsr = ppp_allUS_rests.loc[ppp_allUS_rests['NAICSCode'] ==722513]
dfcaf = ppp_allUS_rests.loc[ppp_allUS_rests['NAICSCode'] ==722514]
dfsnk = ppp_allUS_rests.loc[ppp_allUS_rests['NAICSCode'] ==722515]
dfmobile = ppp_allUS_rests.loc[ppp_allUS_rests['NAICSCode'] ==722330]

In [57]:
#Sub 150k pull NAICS Codes via ppp_sub150

Sdfbars = ppp_sub150.loc[ppp_sub150['NAICSCode'] ==722410]
Sdffsr = ppp_sub150.loc[ppp_sub150['NAICSCode'] ==722511]
Sdfqsr = ppp_sub150.loc[ppp_sub150['NAICSCode'] ==722513]
Sdfcaf = ppp_sub150.loc[ppp_sub150['NAICSCode'] ==722514]
Sdfsnk = ppp_sub150.loc[ppp_sub150['NAICSCode'] ==722515]
Sdfmobile = ppp_sub150.loc[ppp_sub150['NAICSCode'] ==722330]

In [58]:
#Over 150k pull NAICS Codes via ppp_over150

Odfbars = ppp_over150.loc[ppp_over150['NAICSCode'] ==722410]
Odffsr = ppp_over150.loc[ppp_over150['NAICSCode'] ==722511]
Odfqsr = ppp_over150.loc[ppp_over150['NAICSCode'] ==722513]
Odfcaf = ppp_over150.loc[ppp_over150['NAICSCode'] ==722514]
Odfsnk = ppp_over150.loc[ppp_over150['NAICSCode'] ==722515]
Odfmobile = ppp_over150.loc[ppp_over150['NAICSCode'] ==722330]

In [89]:
#Print out the final tally of loan recipients

print('')
print('__________ Sub $150k Restaurants _________________')

#Sub 150k
print('Bars: ' + str(len(Sdfbars)))
print('Mobile: ' + str(len(Sdfmobile)))
print('Full-Service: ' + str(len(Sdffsr)))
print('QSR: ' + str(len(Sdfqsr)))
print('Cafeteria: ' + str(len(Sdfcaf)))
print('Snack & Cafe: ' + str(len(Sdfsnk)))
print('All Restaurants sub $150k: ' + str(len(ppp_sub150)))

print('')
print('__________ $150k+ Restaurants _________________')

#over 150k
print('Bars: ' + str(len(Odfbars)))
print('Mobile: ' + str(len(Odfmobile)))
print('Full-Service: ' + str(len(Odffsr)))
print('QSR: ' + str(len(Odfqsr)))
print('Cafeteria: ' + str(len(Odfcaf)))
print('Snack & Cafe: ' + str(len(Odfsnk)))
print('All Restaurants over $150k: ' + str(len(ppp_over150)))

print('')
print('__________ All Restaurants _________________')

#All restaurants 
print('Bars: ' + str(len(dfbars)))
print('Mobile: ' + str(len(dfmobile)))
print('Full-Service: ' + str(len(dffsr)))
print('QSR: ' + str(len(dfqsr)))
print('Cafeteria: ' + str(len(dfcaf)))
print('Snack & Cafe: ' + str(len(dfsnk)))
print('All Restaurants: ' + str(len(ppp_allUS_rests)))

__________ Sub $150k Restaurants _________________
Bars: 0
Mobile: 3729
Full-Service: 136863
QSR: 67806
Cafeteria: 2102
Snack & Cafe: 12501
All Restaurants sub $150k: 230554

__________ $150k+ Restaurants _________________
Bars: 1827
Mobile: 95
Full-Service: 33608
QSR: 10207
Cafeteria: 211
Snack & Cafe: 799
All Restaurants over $150k: 46747

__________ All Restaurants _________________
Bars: 1827
Mobile: 95
Full-Service: 33608
QSR: 78013
Cafeteria: 211
Snack & Cafe: 13300
All Restaurants: 277301